* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
	height: 100vh;
	background: #ffdda1;
	display: flex;
	align-items: center;
}

.container {
	height: 40%;
	width: 40%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: space-evenly;
	align-items: center;
	transform: translateY(-40%);
	font-family: 'Lora', serif;
	position: relative;
	overflow: hidden;
}

.welcome-message {
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
  text-align: center;
  font-size: 24px;
}

.word {
	width: 80%;
	height: 10vh;
	margin-bottom: 20px;
	text-align: center;
}

h1 {
	color: rgb(53, 46, 46);
}

.word h1 {
	font-size: 40px;
}

.hint {
	height: 50px;
	width: 70%;
	font-size: 14px;
	text-align: center;
	margin-bottom: 5%;
}

.playing-field {
	width: 100%;
	margin: 0 auto;
	position: relative;
	height: 40px;
}

.playBtn {
	padding: 10px 20px;
	margin: 0 auto;
	background: #f26157;
	color: white;
	border-radius: 10px;
	font-weight: bold;
	letter-spacing: 1.2px;
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.playBtn:hover {
  background: #9b3e37;
}

input {
	width: 30%;
	height: 100%;
	font-size: 14px;
	text-align: center;
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
}

input:focus {
	box-shadow: 0 0 .5em lightgrey;
}

.gameOver {
	position: absolute;
	color: white;
	font-size: 30px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #f26157;
	transform: scale(0);
	display: flex;
	align-items: center;
	transition: all .5s;
}

.game-over-text {
	width: 100%;
	text-align: center;
}

.reload {
	background:  #9b3e37;
	color: white;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	font-size: 20px;
	border: 2px solid  #9b3e37;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgb(158, 134, 134);
}

.wrong, .blank {
	position: absolute;
	background: #f26157;
	top: 35%;
	left: 15%;
	height: 30%;
	width: 70%;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	transition: all .5s;
	transform: scale(0);
	border: 2px solid white;
}

.wrong-container, .blank-container {
	position: relative;
	height: 100%;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fas {
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
}

.show {
	transform: scale(1);
}

.showModal {
	transform: scale(1);
}

@media (max-width: 768px) {
	.container {
		width: 100%;
		height: 70%;
		margin-top: 15vh;
	}

	.word {
		margin-bottom: 0px;
	}

	input {
		width: 50%;
	}

	.playBtn {
		width: 30%;
	}

	.wrong, .blank {
		height: 15%;
		width: 70%;
		top: 50%;
		left: 15%;
	}

	.welcome-message {
		top: 20%;
	}

}

@media (max-width: 812px) and (orientation: landscape) {
	.blank, .wrong {
		height: 25%;
		width: 40%;
		left: 30%;
	}

	.container {
		margin-top: 30vh;
	}

	input {
		width: 40%;
	}

	.word {
		margin-bottom: 40px;
	}
}

@media (-webkit-min-device-pixel-ratio: 3) {
	.container {
		width: 100%;
		height: 70%;
	}
}


